/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

@media only screen and (min-width: 840px) {
  body {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url(../images/site/small_check.jpg);
  }
  #wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 65px;
    margin-right: 65px;
    border: 6px solid #01b0d3;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
  }

  nav ul li {
    padding-left: 10px;
    padding-right: 10px;
  }

  nav {
    display: flex;

    justify-content: center;
    align-items: center;
  }
  nav ul {
    display: flex;
    flex-direction: row;
  }
  nav ul li {
    width: 100px;
  }

  nav {
    height: 60px;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  #super-position {
    position: absolute;
    top: 252px !important;
    left: 178px !important;
  }

}

@media only screen and (min-width: 1300px) {
  #super-position {
    position: absolute;
    top: 252px !important;
    left: 470px !important;
  }
}

/*vehicles*/
@media only screen and (min-width: 840px) {

  .vehicle-detail {
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .vehicle-info {
    margin-top: 50px !important;
    margin-left: 20px;
    margin-top: 0;
    max-width: 50%;
  }

  .vehicle-image {
    width: 400px; 
    height: auto;
}
}

@media only screen and (min-width: 840px) {

  #inv-display {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
}