<h1 id="h1-login"><%= title %></h1>
<%- messages() %>

<div class="management">
  <div>
    <a href="/inv/add-classification" class="add-classification"
      >Add new classification</a
    >
  </div>
  <div><a href="/inv/add-vehicle" class="add-vehicle">Add new vehicle</a></div>
</div>
